*~
.*.swp
/autom4te.cache
/src/server/autom4te.cache
/src/client/autom4te.cache
/src/fe/autom4te.cache

tags

#Need if someone does an in-source configure/build
Makefile
config.h
config.log
config.status
libtool
stamp-h1
.deps
.libs
*.o
*.lo
*.la
*.so
spindle_bootstrap
spindle
spindle_logd
spindled_logd
libstdc++.a
spindle_be
libtest*.c
libgenerator
runTests
test_driver
test_driver_libs
run_driver
run_driver_rm
preload_file_list
build

.idea/
.claude
.github/workflows/claudenotes
CLAUDE.md
flux-core/
install/
invoke_claude.sh
local/oslic/
reproducer/
resume
src/flux/_devel_flux-spindle.c
src/flux/_hang_flux-spindle.c
testsuite/debug/__pycache__/
LESSONS_LEARNED.md
